

/* ==========================================================================
   MAIN STYLE
   ========================================================================== */

/* ++++++++++++++++++++++++++ Mixins ++++++++++++++++++++++++++ */
$uwpurple: #4b2e83;
$gold: #b7a57a;
$lightgold: #e8e3d3;
$metgold: #85754d;
$lightgray: #d9d9d9;
$darkgray: #444;
$lightgray: #aaa;
$orange: #cc721e; 
$link_blue: #b5754d;




/*********** Global Reset ***********/

html, body {
    font-family: 'Open Sans', Helvetica, arial, san-serif;
    padding:0;
    margin:0;
    height: 100%;
   /* font-size: 100%;*/
}
p {
   margin: 0;
   padding: 0;
   line-height: 1.45em;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
} 
img {
   border: 0;
   max-width: 100%;
   height: auto;
}

.visually-hidden{
	position: absolute;
	left:.5em;
	top:-99px;	
}

/*********** Spacing ***********/

/* align center */
.center {
	margin: auto;
	text-align: center;
}

.search-text {
	margin-top: 10px;
}

.no-btm-margin {
	margin-bottom: 0px;
}

/* Text structure */

h1, h2, h3, h4 { font-weight: bold; }

h1 {
  color: $uwpurple;
  font-family: 'Encode Sans Compressed', 'Open Sans Condensed', Helvetica, arial, san-serif;
}

h2 {
  font-size: 1.5em;
  color: $uwpurple;
  margin-top: 1em;
  margin-bottom: 10px;
}
/* compensate 'Row' margin*/
.course-h2 {
	margin-left: 5px;
} 

/* Hyperlink style:*/
a, a:hover {
	color:#0077c2;
}

a:focus { /* Hyperlink style:*/
	  color: $link_blue;
	  border: 1px dotted ;
}

a.no-hover:hover, a.no-hover:focus {
    text-decoration: none;
    border:none;
}


.topbanner-bg {
	background-color:$uwpurple; /* UW Purple */
}

.topbanner{ /* topbanner content chunk */
	margin: 20px 0px 0px;
}

.sitename{
	font-size: 3em;
	padding: 20px 0px;
	margin-right: 20px;
	color: #F38A28;
	font-family: 'Encode Sans Compressed', 'Open Sans Condensed', Helvetica, arial, san-serif;
	font-weight: 400;
}

.tagline{
	color: $lightgold; /* lite tan */
	display: inline-block;
	font-style: italic;
	font-family: 'Encode Sans Compressed', 'Open Sans Condensed', Helvetica, arial, san-serif;
	font-weight: 400;
	letter-spacing: 0.1em;
}

.login {
	float: right;
    margin-top: 10px;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 10px;
    color: $lightgray;
    font-family: open sans, sans-serif;
    font-weight: 300;
    font-size: .9em;
}


/* Global nav style */
#nav a {
	color:white;
	font-size: 1.286em;
}

.underline > li > a, .underline > li > a:active {
	border:none;
	border-radius: 0px;
	padding: 5px 10px;
	color:#f7b670;
	margin-right: 10px;
}
/* override the Bootstrap style for hamburger menu  */
.navbar-toggle {
	float: left
}
/* Divider line between nav menu and icon  */
.navbar-default .navbar-collapse {
	border-color: #f7b670;
}

/* override the Bootstrap style for nav  */

.navbar {
	margin-bottom: 0px;
}
.navbar-default{
	background-image: none;
	background-color: $uwpurple;
	border: none;
	box-shadow: none;
}
.navbar-collapse {
	margin-top: 10px;
}
.navbar-default .navbar-nav>li>a {
	color: #f7b670;
}

/* Remove the active state grey background  */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
	background-image: none;
	background-color:$uwpurple;
	color:white;
	box-shadow: none;
}


/* Modify the toggle button's look  */
.navbar-default .navbar-toggle {
	border-color: #f7b670;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: $orange;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color:#f7b670;
}


/* display the orange bar  */
.underline > li.active > a {
	background-color: $uwpurple;
	border-bottom:2px solid $orange;
	color: white;

}

.underline > li.active > a {
	font-weight: bold;
	color:white;
}
/* Selelected: Active & hover  */
.underline > li.active > a:hover, .underline > li > a:hover, .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a:hover  {
	background-color: #b46100;	 /* orange */
	border-bottom:2px solid #b46100;
	color:white;
}

/* Active+hover & focus: Change the background to orange */
 .underline > li.active > a:focus,  .underline > li > a:focus, .navbar-default .navbar-nav>li>a:focus {
	border-bottom:2px solid #b46100;
	color:white;
 }






/**************** Main stuff *************/

.main-content {
	margin: 40px 0px;
	min-height: 100%;
}

.page-title {
	padding-bottom:20px;
}


.page-wrap {
	content: "";
	display: block;
	width: 100%;
	/* min-width: 500px;  prevent the nav menu wrapping */
}

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
	height: 160px;
}



/* footer  Stuff*/

/* Footer's horizontal line */
footer {
	border-top: #eee 1px solid;
	padding-top: 20px;
	margin-top: 50px;
}

.site-footer {
	background: #eee;
}


footer a {
	color: #666;
	font-size: 0.9em;
	text-decoration: none;
}

.footer-links ul {
    list-style: outside none none;
    margin-bottom: 0.5em;
    padding: 0;
}

.footer-links ul li {
    border-right: 1px solid #bdc3c7;
    display: inline-block;
    margin-right: 5px;
    padding-right: 10px;

}

footer .footer-links ul li:last-child {
	    border: 0px;
    margin-right:0px;
    padding-right:0px;
}

.credit {
	font-size: 0.8em;
	color: #6c6c6c;
	width: 100%;
	margin-top: 15px;
}

.uw-it-logo {
	margin-top: 20px;
	width: 220px;
	height: auto;
}






/***** EVERYTHING ELSE *****/


/* may not be needed once Bootstrap is in use */
#boxplots {
    clear:both;
}

/* modify Bootstrap grid styles */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}


 /* ==========================================================================
   SMALL SCREEN
   ========================================================================== */

 /* Small devices (tablets, 768px and up) */
/* 
$media (max-width: 768px) {
	.login {
	float: right;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 5px;
    color: $lightgray;
    font-family: open sans, sans-serif;
    font-weight: 300;
    font-size: .9em;
	}
*/
  /* Selelected: Active & hover  */
/* 
.underline > li.active > a, .underline > li.active > a:hover, .underline > li > a:hover, .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a:hover  {
	border-left:5px solid #b46100;
	color:white;
	border-bottom: 0px;
	}
*/

/* Active+hover & focus: Change the background to orange */
/* 
 .underline > li.active > a:focus,  .underline > li > a:focus, .navbar-default .navbar-nav>li>a:focus {
	border-left:5px solid #b46100;
	color:white;
	}

}
*/