

/* ==========================================================================
   MAIN STYLE
   ========================================================================== */

/* ++++++++++++++++++++++++++ Mixins ++++++++++++++++++++++++++ */
$uwpurple: #4b2e83;
$gold: #b7a57a;
$lightgold: #e8e3d3;
$metgold: #85754d;
$link_focus: #b5754d;

/*** colors ***/
$uw-purple: #4b2e83;
$uw-purple-dark: darken($uw-purple, 3%);
$uw-purple-light: #7b59b3;

$uw-light-gray: #f5f5f5;
$uw-dark-gray: #444444;

$uw-gold: #e8e3d3; //lightgold
$uw-metalic-gold: #85754d; //metgold
$status-green: #27ae60;
$status-red: #e74c3c;

/*** heights ***/
$nav-height: 65px;
$bar-height: 40px;

/*** widths ***/
$tablet-width: 768px;
$tablet-max: 1023px;
$desktop-width: 1024px;
$large-desktop-width: 1280px;

$retina: "only screen and (-webkit-min-device-pixel-ratio: 2)";
$print: "print";

$tablet: "(min-width: #{$tablet-width} ) and (max-width: #{$tablet-max} )";
$desktop:  "(min-width: #{$desktop-width} )";
$large-desktop: "(min-width: #{$large-desktop-width} )";

/***** Type *******/

$fontface-card-title: 'encode_sans_normalbold', sans-serif;
$fontface-card-heading: 'Roboto', sans-serif;
$fontface-body: 'Open Sans', sans-serif;

$fontsize-small: 12px;
$fontsize-base: 14px;
$fontsize-large: 18px;

$font-header-larger: 26px;
$font-header-large: 22px;
$font-header-medium: 20px;
$font-header-small: 18px;
$font-header-smaller: 16px;
$font-header-smallest: 14px;


/*********** Development Style (clear out before production deploy ***********/


.dummy {
    //color: red;
    //font-weight: bold;
}

a.dummy {
    text-decoration: underline;
}



/*********** Global Reset ***********/

html, body {
    color:#000; padding: 0; margin: 0; font-family: "Open Sans",Helvetica,Arial,Verdana,sans-serif; min-width: 320px;font-size: $fontsize-base;
}

.col { flex: 1 0 50%; }

.placeholder-col {
    min-width: 200px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}
img {
   border: 0;
   max-width: 100%;
   height: auto;
}

.visually-hidden{
	position: absolute;
	left:-999px;
	top:-999px;
}

/*********** Spacing ***********/

.clear {
    clear:both;
}

.pull-left {
    float:left;
}

.pull-right {
    float:right;
}

/* align center */
.center {
	margin: auto;
	text-align: center;
}

.no-btm-margin {
	margin-bottom: 0px;
}

.inline {display:inline;}
/* Text structure */

h1, h2, h3, h4, h5 { font-family: 'Encode Sans Compressed', 'Open Sans Condensed', Helvetica, arial, san-serif; font-weight: bold; /*color: $uwpurple;*/ }

h2.heading-page, h2.coda-heading-page {
    font-family: 'encode_sans_normalbold', sans-serif;
    font-weight: 600;
    color: #444;
    margin: 0 0 8px 0;
    font-size: $font-header-larger;
}

h3 {
    font-size: $font-header-large;
    font-family: 'encode_sans_normalbold', sans-serif;
    font-weight: 600;
    color:$uw-dark-gray;
}

h4 {
    padding-top:16px;
    font-size:1.2rem;
     &.list-header {
        font-family: 'Open Sans Condesed', 'Encode Sans Compressed', Helvetica, arial, san-serif;
        border-bottom: 1px solid;
        padding-bottom: 4px;
    }
}

h5 {
    font-size:1.0rem;
}

.course-info {
    .course-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #444 !important;
        font-size: 18px !important;
        margin-top: 4px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 8px;
    }
}

.course-quarter-year {
    margin-bottom: 18px;
}

/* Hyperlink style:*/
a {
	color:#0077c2;
	&:focus, &:hover {
        color: $link_focus;
	}
}



/**************** Main stuff *************/
.no-wrap {white-space: nowrap;}

.coda-wrapper { margin: 0 auto; padding: 0 16px;
    @media #{$desktop} { max-width: 1200px; };
}

.coda-body { background: $uw-light-gray; padding-bottom: 16px;

    @media #{$desktop}  { padding: 32px 0; position: relative; }

    .coda-wrapper {

        @media #{$desktop}  {

            display: flex;
            flex-wrap:wrap;
            flex-direction:row;
            justify-content:flex-start;
            align-items:stretch;

            .coda-nav-col { order:1; flex-basis:200px; height:100%; margin: 0 16px 0 0;}
            .coda-content { order:2; flex:1; height:100%; }
        }

        .coda-content {
            // override bootstrap container class
            .container { width: auto !important; padding: 0 !important; }
        }
    }
}


.course-links {
    margin-top: 0.5rem;
    min-height: 4.5rem;
    margin-bottom: 0;
}

.historic-filters {
    min-height: 4.5rem;
}

.coda-thin-bar {
    background: $uw-purple-dark;
    line-height: $bar-height;
    height: $bar-height;
    font-size: 14px;
    a, button {
        color: #fff;
        display: inline-block;
        min-width: 30px;
        font-size: 13px;
        height: $bar-height;
        background: none;
        border: none;

        &:hover, &:focus { color: #fff;
            span {  text-decoration: underline; }

        }
    }
    .coda-netid {
        display: inline-block;
        span {
            margin-left: 3px;
        }
    }
    .coda-search-links {
        display: inline-block;
        float: right;
        color: #fff;
        margin-right: -3px;
    }

}

.coda-navigation {
    background: $uw-purple;
    height: $nav-height;

    .coda-wrapper {
        background-repeat: no-repeat;
        background-size: 45px;
        background-position: right 20px bottom;
        height: $nav-height;
        .coda-title {
            display: inline-block;
            color: #fff;
            font-size: 26px;
            font-weight: 400;
            line-height: $nav-height;
            height: $nav-height;
            a, .coda-navigation .coda-title a:hover, .coda-navigation .coda-title a:focus, .coda-navigation .coda-title a:visited {
                color: #fff;
            }
            i {font-size: 1.4rem;}
        }
    }
}


.userinfo {
    position: absolute;
    top: .5rem;
    right: 1rem;
}

.main-content {
	margin: 40px 0px;
	min-height: 100%;
}

.page-title {
	padding-bottom:20px;
}

.data-section {
    //margin-top:25px;
}

.page-wrap {
	content: "";
	display: block;
	width: 100%;
	/* min-width: 500px;  prevent the nav menu wrapping */
}

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
	height: 160px;
}

.coda-alert {font-size:90%;}

/* footer  Stuff*/


#app_footer {
    .footer-bar {
        padding: 16px 0 !important;
    }
}

// footer bar
.footer-bar { background:#333; padding: 10px 0;
    .footer-links { position:relative; color: #aaa; font-size: 11px;
    	a, button {color: #fff}
        .footer-links-list { padding: 0; margin-bottom: .5em; line-height: 11px; list-style: none;
            .footer-links-list-item { display: inline-block; padding-right: 5px; margin-right: 3px; border-right: solid 1px #aaa; color: #222;
			}
        }
    }
}

/***** EVERYTHING ELSE *****/


/* may not be needed once Bootstrap is in use */
#boxplots {
    clear:both;
}

/* modify Bootstrap grid styles */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}


 /* ==========================================================================
   SMALL SCREEN: need to revisit for SCSS
   ========================================================================== */

 /* Small devices (tablets, 768px and up) */

@media (max-width: 768px) {
	.hide-sm {
	position: absolute;
	left:-999px;
	top:-999px;
	}
	.sitename{
	font-size: 1.5em;}
}
