autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
targetAverageUtilization: 100
resources:
  limits:
    cpu: 500m
    memory: 768Mi
  requests:
    cpu: 25m
    memory: 512Mi
ingress:
  enabled: true
  type: nginx
  tls:
    test-coda:
      secretName: test.coda.uw.edu-ingress-cert
      hosts:
        - test.coda.uw.edu
  hosts:
    test-coda:
      host: test.coda.uw.edu
      paths:
        - "/"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
securityPolicy:
  enabled: true
lifecycle:
  enabled: true
  preStop:
    enabled: true
affinity:
   podsSpanNodes: true
readiness:
  enabled: true
database:
  engine: postgres
  name: coda_test
  hostname: coda-db-test-service
  secretName: test.coda.uw.edu-sql-secrets
externalService:
  enabled: true
  name: coda-db-test-service
  type: ClusterIP
  serviceAddress: 172.18.1.200
  servicePort: 5432
repo: coda
instance: test
image:
  repository: us-docker.pkg.dev/uwit-mci-axdd/containers/coda
  tag: IMAGE_TAG
memcached:
  enabled: true
  replicaCount: 1
  updateStrategy:
    type: RollingUpdate
metrics:
  enabled: true
  serviceMonitor:
    enabled: true
certs:
  mounted: true
  certPath: /certs/test.coda.uw.edu.cert
  keyPath: /certs/test.coda.uw.edu.key
  secretName: test.coda.uw.edu-ic-certs
environmentVariables:
  - name: ENV
    value: dev
  - name: WEBSERVER
    value: nginx
  - name: SESSION_BACKEND
    value: MEMCACHED
  - name: GWS_ENV
    value: PROD
  - name: SWS_ENV
    value: EVAL
  - name: PWS_ENV
    value: EVAL
  - name: CANVAS_ENV
    value: EVAL
  - name: BOOKSTORE_ENV
    value: PROD
  - name: UW_PERSON_DB_HOST
    value: 172.18.1.67
  - name: UW_PERSON_DB_PORT
    value: '5432'
  - name: UW_PERSON_DB_NAME
    value: uw-person-prod
  - name: AUTH
    value: SAML BLTI
  - name: CLUSTER_CNAME
    value: test.coda.uw.edu
  - name: LTI_CONFIG_DIRECTORY
    value: /lti/config

externalSecrets:
  enabled: true
  secrets:
    - name: test.coda.uw.edu-secrets
      externalKey: coda/test/secrets
      data:
        - name: django-secret
          property: django-secret
        - name: lti-consumers
          property: lti-consumers
    - name: test.coda.uw.edu-lti-keys
      externalKey: coda/test/lti-keys
      data:
        - name: private-key-1.key
          property: private-key-1.key
        - name: public-key-1.key
          property: public-key-1.key
        - name: private-key-2.key
          property: private-key-2.key
        - name: public-key-2.key
          property: public-key-2.key
    - name: test.coda.uw.edu-shared-secrets
      externalKey: coda/shared/secrets
      data:
        - name: canvas-account-id
          property: canvas-account-id
        - name: canvas-api-token
          property: canvas-api-token
        - name: person-db-user
          property: person-db-user
        - name: person-db-pass
          property: person-db-pass
    - name: test.coda.uw.edu-sql-secrets
      externalKey: coda/test/sql-secrets
      data:
        - name: username
          property: sql_user
        - name: password
          property: sql_pass
    - name: test.coda.uw.edu-ic-certs
      externalKey: coda/test/ic-certs
      data:
        - name: test.coda.uw.edu.cert
          property: cert
        - name: test.coda.uw.edu.key
          property: key
    - name: test.coda.uw.edu-uw-idp-cert
      externalKey: idp-cert
      data:
        - name: uw-idp-cert
          property: cert

environmentVariablesSecrets:
  djangoSecret:
    name: DJANGO_SECRET
    secretName: test.coda.uw.edu-secrets
    secretKey: django-secret
  codaLTI_CONSUMERS:
    name: LTI_CONSUMERS
    secretName: test.coda.uw.edu-secrets
    secretKey: lti-consumers
  canvasAccountID:
    name: CANVAS_ACCOUNT_ID
    secretName: test.coda.uw.edu-shared-secrets
    secretKey: canvas-account-id
  canvasAPIToken:
    name: CANVAS_OAUTH_BEARER
    secretName: test.coda.uw.edu-shared-secrets
    secretKey: canvas-api-token
  personDBUser:
    name: UW_PERSON_DB_USER
    secretName: test.coda.uw.edu-shared-secrets
    secretKey: person-db-user
  personDBPass:
    name: UW_PERSON_DB_PASSWORD
    secretName: test.coda.uw.edu-shared-secrets
    secretKey: person-db-pass
  SAMLServiceProviderCert:
    name: SP_CERT
    secretName: test.coda.uw.edu-ic-certs
    secretKey: test.coda.uw.edu.cert
  SAMLIDPCert:
    name: IDP_CERT
    secretName: test.coda.uw.edu-uw-idp-cert
    secretKey: uw-idp-cert

mountedSecrets:
  enabled: true
  mountPath: /lti/keys
  secretName: test.coda.uw.edu-lti-keys

podVolumes:
  lti-tool-config:
    volume:
      configMap:
        name: lti-tool-config
    mount:
      mountPath: /lti/config
    containers: [base]

configmaps:
  lti-tool-config:
    tool.json: |
      {
        "https://canvas.test.instructure.com": [{
          "default": true,
          "client_id": "100000000000876",
          "auth_login_url": "https://sso.canvaslms.com/api/lti/authorize_redirect",
          "auth_token_url": "https://sso.canvaslms.com/login/oauth2/token",
          "key_set_url": "https://sso.test.canvaslms.com/api/lti/security/jwks",
          "key_set": null,
          "private_key_file": "/lti/keys/private-key-1.key",
          "public_key_file": "/lti/keys/public-key-1.key",
          "deployment_ids": ["206979:82ea3323587ae330766ae046461fd35c747ed747"]
        }]
      }
