{% load coda_admin_filters %}

<h3>General</h3>
<ul>
    {% url 'userservice_override' as user_override_url %}
    {% if user_override_url %}
    <li><a href="{{ user_override_url }}">{{ userservice_link|default:"User Override" }}</a></li>
    {% endif %}
</ul>


<h3>Web Services</h3>
<ul class="default-sidelinks">
    {% url 'supporttools_home' as home_url %}
    {% if home_url %}
    <li><a href="{{ home_url }}">{{ home_link|default:"Support Home" }}</a></li>
    {% endif %}
    {% url 'status_app.views.status' as status_url %}
    {% if status_url %}
    <li><a href="{{ status_url }}">{{ supporttools_parent_app|default:"" }} {{ status_app_link|default:"Status" }}</a></li>
    {% endif %}
    {% url 'restclients_proxy' 'sws' 'student/v5.json' as sws_url %}
    {% if sws_url %}
    <li><a href="{{ sws_url }}">{{ restclients_sws_link|default:"Browse Student Web Service" }}</a></li>
    {% endif %}
    {% url 'restclients_proxy' 'pws' 'identity/v1.json' as pws_url %}
    {% if pws_url %}
    <li><a href="{{ pws_url }}">{{ restclients_pws_link|default:"Browse Person Web Service" }}</a></li>
    {% endif %} 
</ul>

{% if supporttools_extra_views %}
<h3>{{ supporttools_parent_app|default:"Application" }} Tools</h3>
<ul>
    {% for name,view in supporttools_extra_views.items %}
    <li><a href="{% url view %}">{{ name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

<h3>Testing Tools</h3>
<ul>
    {% if is_overrider %}
    <li><a href="{% url 'myuw_date_override' %}">Date testing</a></li>
    {% endif %}
    {% if is_rest_browser %}
    {% url 'restclients_errors' as url %}
    {% if url %}
    <li><a href="{% url 'restclients_errors' %}">Webservice errors</a></li>
    {% endif %}
    {% endif %}
</ul>
