{% load templatetag_handlebars %}
{% tplhandlebars "course-select" %}
{% load staticfiles %}

<label for="my_courses" class="visually-hidden">My Course Dashboards:</label>
<select class="form-control" name="my_courses" id="my_courses">
  <optgroup label="{{quarter}} {{year}}">
    {{#each sections}}
    <option data-label="{{section_label}}" {{#if @first}}selected{{/if}}>{{curriculum}} {{course_number}} {{section_id}}</option>
    {{/each}}
  </optgroup>
</select>
        
{% endtplhandlebars %}
