{% verbatim %}
<script id="course-select" type="text/x-handlebars-template">
<label for="my_courses" class="visually-hidden">My Course Dashboards:</label>
<select class="form-control form-control-lg" name="my_courses" id="my_courses" aria-contols="current-course-target">
  {{#each sections}}
    <optgroup label="{{term.quarter}} {{term.year}}">
      {{#each offerings}}
      <option data-label="{{section_label}}" {{#if selected}}selected{{/if}}>{{curriculum}} {{course_number}} {{section_id}}</option>
      {{/each}}
    </optgroup>
  {{/each}}
</select>
</script>
{% endverbatim %}
