{% verbatim %}
<script id="general-education-notices-template" type="text/x-handlebars-template">
{{#if writing}}
<div class="alert alert-secondary w-100" style="margin-top:15px;margin-left:15px; margin-bottom:-30px; padding:5px;" role="alert">
    
    
    <span>This is a <span class="badge badge-info">W</span> credit course. <a href="https://writing.washington.edu/for-instructors/teaching-w-courses" target="_blank">Learn how to implement in your class.</a></span>
</div>
{{/if}}
</script>
{% endverbatim %}
