{% load templatetag_handlebars %}
{% tplhandlebars "current-course-data" %}
{% load staticfiles %}
<div class="row">
    <div class="col-md-6"><h2 class="inline">Your Students</h2></div>
    <div class="col-md-6"><a class="dummy" href="#">Time Schedule Entry</a></div>
    <div class="col-12">Median cumulative GPA: <span>{{current_median}}</span></div>
    <div class="col-md-6">Students Registered: <span>{{current_num_registered}} / {{current_capacity}}</span></div>
    <div class="col-md-6"><span class="dummy">{{current_repeat_students}}</span> students are repeating this course.</div>
</div>
<div class="row ">
    <div class="list col-md-6">
        <h3>Concurrent Courses:</h3>
        <ol>
           {{#each concurrent_courses}}
                <li>{{percent_students}}% : <span>{{course}}</span></li>  
           {{/each}}
       </ol> 
    </div>
    <div class="list col-md-6">
        <h3>Declared Majors:</h3>
        <ol>
            {{#each current_majors}}
                <li>{{percent_students}}% : <span>{{major}}</span></li>
            {{/each}}
       </ol> 
    </div> 
</div> 
{% endtplhandlebars %}