{% load templatetag_handlebars %}
{% tplhandlebars "current-course-data" %}
{% load staticfiles %}
<div class="row">
    <div class="col">
        <h3 id="current_section_data">Current Quarter Data for {{curriculum}} {{course_number}} {{section_id}}</h3>
    </div>
</div>
<div class="current-schedule-row row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <dl class="row">
  <dt class="col-sm-3">Meeting</dt>
  <dd class="col-sm-9"><span class="course-days"><abbr title="Friday">F</abbr></span><span class="course-time">8:00 - 5:20PM</span><span class="course-location">DEM 012</span></dd>
                <dt class="col-sm-3">Details</dt>
                <dd class="col-sm-9"><a href="https://my.uw.edu/teaching/{{year}},{{quarter}}#{{curriculum}}-{{course_number}}-{{section_id}}">MyUW course info<span class="sr-only"> for {{curriculum}} {{course_number}} {{section_id}}</span></a>{{#if canvas_course_url}}, <a href="{{canvas_course_url}}">Canvas course site<span class="sr-only"> for {{curriculum}} {{course_number}} {{section_id}}</span></a>{{/if}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="current-data-row row">
    <div class="current-median course-data-widget col">
        <div class="d-inline-block course-data-items">
            <div class="course-data-number" title="{{current_median}} cumulative GPA">{{current_median}}<i class="ion-stats-bars" aria-hidden="true"></i></div>
            <div class="course-data-description">Cumulative GPA</div>
        </div>
    </div>
    <div class="current-enrollment course-data-widget col">
        <div class="d-inline-block course-data-items">
            <div class="course-data-number" title="{{current_num_registered}} of {{current_capacity}} registered students">{{current_num_registered}}/{{current_capacity}}<i class="ion-ios-people" aria-hidden="true"></i></div>
            <div class="course-data-description">Currently Registered</div>
        </div>
    </div>
</div>
<div class="current-data-row row">
    <div class="current-enrollment course-data-widget col">
        <div class="d-inline-block course-data-items">
            <div class="course-data-number" title="{{current_repeat_students}} repeating students">{{current_repeat_students}}<i class="ion-android-refresh" aria-hidden="true"></i></div>
            <div class="course-data-description">Repeating Students</div>
        </div>
    </div>
</div>
<div class="row ">
    <div class="list col" aria-labelledby="current_concurrent_courses">
        <h4 id="current_concurrent_courses" class="list-header">Concurrent Courses</h4>
        <ol class="list-unstyled">
           {{#each concurrent_courses}}
                <li><strong>{{ roundPercentage percent_students}}%</strong> <span>{{course}}</span></li>
           {{/each}}
       </ol>
       <div><a href="#" class="toggle-show">Show more<span class="sr-only"> concurrent courses taken this quarter</span>...</a></div>
    </div>
    <div class="list col" aria-labelledby="current_declared_majors">
        <h4 id="current_declared_majors" class="list-header">Declared Majors</h4>
        <ol class="list-unstyled">
            {{#each current_majors}}
                <li><strong>{{ roundPercentage percent_students}}%</strong> <span class="text-lowercase">{{major}}</span></li>
            {{/each}}
       </ol>
       <div><a href="#" class="toggle-show">Show more<span class="sr-only"> current majors</span>...</a></div>
    </div>
</div>
{% endtplhandlebars %}
