{% verbatim %}
<script id="current-course-data" type="text/x-handlebars-template">
<div class="current-top-row row">
    <div class="col">
        <h3 id="current_section_data">My data for {{curriculum}} {{course_number}} {{section_id}}</h3>
        <input type="hidden" id="current_course_label" value="{{section_label}}">
        <div class="d-inline-block past-quarter-select">
            <label for="my_courses" class="visually-hidden">My Courses:</label>
            <select class="form-control form-control-sm" name="course_quarters" id="course_quarters" aria-contols="current-quarter-target">
              {{#each terms}}
              <option data-year="{{year}}" data-quarter="{{quarter}}"{{#if selected}} selected{{/if}}>{{quarter}} {{year}}{{#if current}} (current){{/if}}</option>
              {{/each}}
            </select>
        </div>
    </div>
    <div class=col>
    <ul class="list-unstyled course-links col">
        <li><a href="https://my.uw.edu/teaching/{{year}},{{quarter}}#{{curriculum}}-{{course_number}}-{{section_id}}" title="View course details in Teaching page"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Course details<span class="sr-only"> for {{curriculum}} {{course_number}} {{section_id}}</span></a></li>
        {{#if canvas_course_url}}<li><a href="{{canvas_course_url}}"><i class="fa fa-book" aria-hidden="true"></i> Canvas course site<span class="sr-only"> for {{curriculum}} {{course_number}} {{section_id}}</span></a></li>{{/if}}
    </ul>
    </div>
</div>
{{#if display_course}}
<div id="current-performance-panel"></div>
<div class="row ">
  <div class="list col" aria-labelledby="current_concurrent_courses">
    <h4 id="current_concurrent_courses" class="list-header">Concurrent Courses<span class="coda-info-popover"><i class="fa fa-info-circle" aria-hidden="true" tabindex="0" data-placement="top" data-toggle="popover" data-trigger="focus" title="Concurrent Courses" data-content="Make connections between your course and other courses your students are taking. The number in parenthesis is the median grade of the course. This provides insight into the difficulty of your students' course load."></i></span><br><small>When taking the course</small></h4>
    <ol class="list-unstyled">
      {{#each concurrent_courses}}
      <li><strong>{{ roundPercentage percent_students}}%</strong> <span> <a title="{{title}}" target="_blank" href="https://myplan.uw.edu/student/myplan/course/{{myPlanFormat curriculum course_number section_id}}"> {{curriculum}}-{{course_number}} </a> </span><span id="{{curriculum}}-{{course_number}}-gpa"></span>
      {{/each}}
    </ol>
    <div><a href="#" class="toggle-show" data-toggle-length-max=20>Show more<span class="sr-only"> concurrent courses taken this quarter</span>...</a></div>
  </div>
  <div class="list col" aria-labelledby="current_declared_majors">
    <h4 id="current_declared_majors" class="list-header">Declared Majors<span class="coda-info-popover"><i class="fa fa-info-circle" aria-hidden="true" tabindex="0" data-placement="top" data-toggle="popover" data-trigger="focus" title="Declared Majors" data-content="Make the topics you teach more engaging for non-majors who are taking your course."></i></span><br><small>When taking the course</small></h4>
    <ol class="list-unstyled">
      {{#each current_majors}}
      <li><strong>{{ roundPercentage percent_students}}%</strong> <span class="text-lowercase">{{major_name}}</span></li>
      {{/each}}
    </ol>
    <div><a href="#" class="toggle-show" data-toggle-length-max=20>Show more<span class="sr-only"> current majors</span>...</a></div>
  </div>
</div>
{{else}}
<div class="coda-alert alert alert-info" role="alert">
    <p>The query you requested will not generate data for one of the following reasons:

<ul><li>The course you've selected has fewer than 5 students. To protect students' privacy, we do not show data on courses with fewer than 5 students enrolled.</li>

<li>To protect you and your colleagues' privacy, we do not show data for a single course, unless it's a course you've taught.</li></ul></p>
</div>
{{/if}}
</script>
{% endverbatim %}
