{% load templatetag_handlebars %}
{% tplhandlebars "historic-data-selectors" %}
{% load staticfiles %}
<div class="row">
    <div class="col">
        <h3 id="historic_section_data">Historical Student Data for {{curriculum}} {{course_number}} {{section_id}}</h3>
    </div>
</div>
<div class="row">
    <div class="historic-filters col">
        <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link all-courses {{#if only_my_courses}} {{else}} active {{/if}} nohref" id="allcourses-tab" role="button" aria-selected="true">All Courses</a>
            </li> |
            <li class="nav-item">
                <a class="nav-link my-courses {{#if only_my_courses}} active{{/if}} nohref" id="mycourses-tab" role="button" aria-selected="false">Only My Courses</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane  {{#if only_my_courses}} {{else}} active {{/if}}" id="allcourses" role="tabpanel">
                <div class="d-inline-block">
                   <label for="historic_filter_quarter" class="visually-hidden">Filter historic data by quarter:</label>
                   <select class="form-control form-control-sm historic-filter" name="historic_filter_quarter" id="historic_filter_quarter" aria-controls="historic-course-target">
                       {{#each past_quarters}}
                           <option data-label="{{name}}" {{selected}}>{{name}}</option>
                       {{/each}}
                   </select>
                </div>
                <div class="d-inline-block">
                    <label for="historic_filter_year" class="visually-hidden">Filter historic data by year (past 5 years):</label>
                    <select class="form-control  form-control-sm historic-filter" name="historic_filter_year" id="historic_filter_year" aria-controls="historic-course-target">
                       {{#each past_years}}
                           <option data-label="{{name}}" {{selected}}>{{name}}</option>
                       {{/each}}
                    </select>
                </div>
            </div>
            <div class="tab-pane  {{#if only_my_courses}} active {{/if}}" id="mycourses" role="tabpanel">
                <div class="d-inline-block">
                    <label for="historic_filter_taught" class="visually-hidden">Filter by only your past courses:</label>
                    <select class="form-control form-control-sm historic-filter" name="historic_filter_taught" id="historic_filter_taught" aria-controls="historic-course-target">

                        <option data-label="All My Courses" selected>All My Courses</option>

                        {{#each instructed_sections}}
                            <option data-label="{{../index}}:{{quarter}}-{{year}}">{{quarter}} {{year}}</option>
                        {{/each}}

                    </select>
               </div>
            </div>
        </div>
    </div>
</div>
{% endtplhandlebars %}
