{% load templatetag_handlebars %}
{% tplhandlebars "historic-data-selectors" %}
{% load staticfiles %}
<div class="row">
    <div class="col">
        <h3 id="historic_section_data">Historical Student Data for {{curriculum}} {{course_number}} {{section_id}}</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <small id="select_helpblock" class="form-text text-muted">
      Select combination of quarters and years, or view only your courses.
        </small>
        <div class="form-group historic-filters">
            <div class="d-inline-block">
               <label for="historic_filter_quarter" class="visually-hidden">Filter historic data by quarter:</label>
               <select class="form-control form-control-sm historic-filter" name="historic_filter_quarter" id="historic_filter_quarter">
                   {{#each past_quarters}}
                       <option data-label="{{name}}" {{selected}}>{{name}}</option>
                   {{/each}}
               </select>
           </div> 
           <div class="d-inline-block">
               <label for="historic_filter_year" class="visually-hidden">Filter historic data by year (past 5 years):</label>
               <select class="form-control  form-control-sm historic-filter" name="historic_filter_year" id="historic_filter_year">
                     {{#each past_years}}
                       <option data-label="{{name}}" {{selected}}>{{name}}</option>
                   {{/each}}
               </select>
           </div> 
           <span style="padding: 0 1rem;">OR</span>
           <div class="d-inline-block">
               <label for="historic_filter_taught" class="visually-hidden">Filter by only your past courses:</label>
               <select class="form-control form-control-sm historic-filter" name="historic_filter_taught" id="historic_filter_taught">
                   
                       <option data-label="{{name}}" {{selected}}>Only My Courses</option>
                   
               </select>
           </div>
        </div>
        <span class="help-tooltip">Viewing data for {{section_count}} quarter{{pluralize section_count '' 's'}} in the past {{year_count}} year{{pluralize year_count '' 's'}}</span>
    </div>
</div>
{% endtplhandlebars %}
