{% load templatetag_handlebars %}
{% tplhandlebars "historic-course-data" %}
{% load staticfiles %}
<div class="row">
    <div class="col-sm-4"><span>Median Course Grade: </span>{{median_course_grade}}</div>
    <div class="col-sm-8"><span>% that failed the course: </span>{{failed_percent}}%</div>
</div>
<div class="row"><span class="col">Note: it would be great to show historic data for previous times the logged in user was IOR for this course... maybe overlayed on the same visualization with generic historic data for the course.</span></div>
<div class="row">
    <div class="list col-12">
        <h3>Grade Distribution</h3>
        <p class="dummy">[Visualization of grade distribution for selected quarter(s) (include median GPA)]</p>
    </div>
</div>
<div class="row">
    <div class="list col-md-6">
        <h3>Common majors (when taking the course):</h3>
        <ol>
            {{#each common_majors}}
           <li>{{percent_students}}% : <span>{{major}} </span></li>
           {{/each}}
       </ol> 
    </div>
    <div class="list col-md-6">
        <h3>Common majors (upon graduation):</h3>
        <ol>
           {{#each latest_majors}}
           <li>{{percent_students}}% : <span>{{major}} </span></li>
           {{/each}}
       </ol> 
    </div>
    <div class="list col-md-6">
        <h3>Concurrent Courses:</h3>
        <ol>
            {{#each common_courses}}
           <li>{{percent_students}}% : <span>{{course}} </span></li>
           {{/each}}
       </ol> 
    </div>
    <div class="previous-instructors col-md-6">	
       <h3>Previous Instructors for this course:</h3>
       <ol>
           {{#each instructors}}
            <li><a href="mailto:{{uw_email}}">{{display_name}}</a>, {{quarter}} {{year}} </li>
           {{/each}}
           
           {{#each past_terms}}
            {{#each instructors}}
                <li><a href="mailto:{{uwnetid}}@uw.edu">{{display_name}}</a>, {{../quarter}} {{../year}}</li>
            {{/each}}
           {{/each}}
       </ol>   
    </div>   

</div>
{% endtplhandlebars %}
