{% load templatetag_handlebars %}
{% tplhandlebars "historic-data-selectors" %}
{% load staticfiles %}
<div class="row">
    <div><p style="font-size:1em;font-weight:bold;">Historical Student Data for <span class="dummy">PHYS 122 A {{curriculum}} {{course_number}} {{section_id}}</span></p></div>
</div>
<!-- Filters for historic class data that is limited to periods when 2+ sections were offered OR the user was IOR for the single section on a given term.  When a year or quarter are selected, then when user opens the other selector, it updates to only show options that result in:
1. 2+ course sections were offered  OR
2. The logged in user was IOR for the single section offered that term.
-->
<div class="row">
    <div class="historic-filters">
        <span class="dummy">
           <label for="historic_filter_quarter" class="visually-hidden">Filter historic data by quarter:</label>
           <select class="historic-filter" name="historic_filter_quarter" id="historic_filter_quarter">
               {{#each past_quarters}}
                   <option data-label="{{name}}" {{selected}}>{{name}}</option>
               {{/each}}
           </select>
       </span> 
       <span class="dummy">
           <label for="historic_filter_year" class="visually-hidden">Filter historic data by year:</label>
           <select class="historic-filter" name="historic_filter_year" id="historic_filter_year">
                 {{#each past_years}}
                   <option data-label="{{name}}" {{selected}}>{{name}}</option>
               {{/each}}
           </select>
       </span> 
    </div>
</div>
{% endtplhandlebars %}