{% load templatetag_handlebars %}
{% tplhandlebars "historic-course-data" %}
{% load staticfiles %}
<div class="row">
    <div class="col"><span>Median Course Grade: </span><span class="dummy">3.2</span><span class="dummy">2%</span></div>
    <div class="col"><span>this is empty</span></div>
</div>

<div class="row">
    <div class="list col">
        <h3>Declared Majors (when taking the course)</h3>
        <ol>
            {{#each common_majors}}
           <li>{{percent_students}}% : <span>{{major}} </span></li>
           {{/each}}
       </ol> 
    </div>
    <div class="list col">
        <h3>Declared Majors (upon graduation)</h3>
        <ol>
           {{#each latest_majors}}
           <li>{{percent_students}}% : <span>{{major}} </span></li>
           {{/each}}
       </ol> 
    </div>
</div>
<div class="row">
    <div class="list col">
        <h3>Concurrent Courses</h3>
        <ol>
            {{#each common_courses}}
           <li>{{percent_students}}% : <span>{{course}} </span></li>
           {{/each}}
       </ol> 
    </div>
</div>
<div class="row">
    <div class="previous-instructors col">	
       <h3>Previous Instructors for this course</h3>
       <ol>
           {{#each instructors}}
            <li><a href="mailto:{{uw_email}}">{{display_name}}</a>, {{quarter}} {{year}} </li>
           {{/each}}
           
           {{#each past_terms}}
            {{#each instructors}}
                <li><a href="mailto:{{uwnetid}}@uw.edu">{{display_name}}</a>, {{../quarter}} {{../year}}</li>
            {{/each}}
           {{/each}}
       </ol>   
    </div>   

</div>
{% endtplhandlebars %}