{% verbatim %}
<script id="historic-course-major-template" type="text/x-handlebars-template">
    <h4 id="historic_declared_majors_course" class="list-header">Declared Majors<span class="coda-info-popover"><i class="fa fa-info-circle" aria-hidden="true" tabindex="0" data-placement="top" data-toggle="popover" data-trigger="focus" title="Declared Majors" data-content="Compare the proportion of certain majors in your class to past offerings and track shifts over time in the 'popularity' of your class for certain majors."></i></span> <br><small>When taking the course</small></h4>
    {{#is_defined common_majors}}
    <ol class="list-unstyled" aria-labelledby="historic_declared_majors_course">
    {{#each common_majors}}
      <li><strong>{{roundPercentage percent_students}}%</strong> <span class="text-lowercase">{{major_name}} </span></li>
    {{/each}}
    </ol>
    {{else}}
      <div class="loading-placeholder" style="height: .9em; width: 1em;"></div> &nbsp;<div class="loading-placeholder" style="height: .9em; width: 10em;"></div>
      <br /><div class="loading-placeholder" style="height: .9em; width: 1em;"></div> &nbsp;<div class="loading-placeholder" style="height: .9em; width: 10em;"></div>
      <br /><div class="loading-placeholder" style="height: .9em; width: 1em;"></div> &nbsp;<div class="loading-placeholder" style="height: .9em; width: 10em;"></div>
      <br /><div class="loading-placeholder" style="height: .9em; width: 1em;"></div> &nbsp;<div class="loading-placeholder" style="height: .9em; width: 10em;"></div>
      <br /><div class="loading-placeholder" style="height: .9em; width: 1em;"></div> &nbsp;<div class="loading-placeholder" style="height: .9em; width: 10em;"></div>
    {{/is_defined}}
    <div><a href="#" class='toggle-show' data-toggle-length-max=20>Show more<span class="sr-only"> declared majors while taking the course</span>...</a></div>
</script>
{% endverbatim %}
