{% verbatim %}
<script id="historic-performance-template" type="text/x-handlebars-template">
<div class="course-performance-row row">
    <div class="historic-enrollment course-data-widget col">
        <div class="d-inline-block course-data-items">
            <div class="course-data-description">Students / {{defaultValue section_count ""}} Offering{{pluralize section_count '' 's'}}</div>
            <div class="course-data-number" title="{{defaultValue total_students "Shown here are"}} students enrolled">{{defaultValue total_students '<div class="loading-placeholder" style="height: 0.8em; width: 3ch;"></div>'}}<i class="ion-ios-people" aria-hidden="true"></i></div>
        </div>
    </div>
    <div class="historic-median course-data-widget col">
        <div class="d-inline-block course-data-items">
    <div class="course-data-description">Median Cumulative GPA <span class="course-data-gpa">{{median_gpa}}</span> <span class="coda-info-popover"><i class="fa fa-info-circle" aria-hidden="true" tabindex="0" data-placement="top" data-toggle="popover" data-trigger="focus" title="Median Cumumlative GPA" data-content="This is the midpoint of the cumulative GPAs of the students based on the time frame selected above."></i></span></div>
            <div id="historic-median-cumulative-gpa"  class="course-data-number" title="{{defaultValue median_gpa "Shows"}} Median Cumulative GPA">{{defaultValue median_gpa '<div class="loading-placeholder" style="height: 0.8em; width: 3ch;"></div>'}}<i class="ion-stats-bars cumulative-popover" aria-hidden="true" tabindex="0" data-placement="top" data-toggle="popover" data-trigger="focus" title="Cumulative GPA Distribution" data-template='<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div id="{{gpa_distribution_time}}-gpa-distribution" class="grade-distribution"></div></div></div>'></i></div>
        </div>
    </div>
</div>
<div class="course-performance-row row">
    <div class="historic-failure course-data-widget col">
        <div class="d-inline-block course-data-items">
            <div class="course-data-description">Percent Failure<span class="coda-info-popover"><i class="fa fa-info-circle" aria-hidden="true" tabindex="0" data-placement="top" data-toggle="popover" data-trigger="focus" title="Percent Failure" data-content="This is the percent of students who received a 0.0 in the course(s) based on the time frame selected above.  Get a sense of how much time you should spend on challenging topics, considering how much students have struggled with the course in the past."></i></span></div>
            <div class="course-data-number" title="{{defaultValue failed_percent "Shows "}}% of students failed this course">{{defaultValue failed_percent '<div class="loading-placeholder" style="height: 0.8em; width: 1ch;"></div>'}}%<i class="ion-ios-flag" aria-hidden="true"></i></div>
        </div>
    </div>
    <div class="historic-median course-data-widget col">
        <div class="d-inline-block course-data-items">
          <div class="course-data-description">Median Course Grade <span class="course-data-gpa">{{median_course_grade}}</span> <span class="coda-info-popover"><i class="fa fa-info-circle" aria-hidden="true" tabindex="0" data-placement="top" data-toggle="popover" data-trigger="focus" title="Median Course Grade" data-content="This is the midpoint of the final course grades based on the time frame selected above.  If you've taught the class before, use this data to assess the impact of pedagogical or curricular tweaks you've made."></i></span></div>
          <div id="historic-median-course-gpa" class="course-data-number" title="{{defaultValue median_course_grade "Shows"}} Median course grade">{{defaultValue median_course_grade '<div class="loading-placeholder" style="height: 0.8em; width: 3ch;"></div>'}}<i class="ion-stats-bars course-gpa-popover" aria-hidden="true" tabindex="0" data-placement="top" data-toggle="popover" data-trigger="focus" title="Course Grade Distribution" data-template='<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div id="{{gpa_distribution_time}}-course-gpa-distribution" class="grade-distribution"></div></div></div>'></i></div>
        </div>
    </div>
</div>
</script>
{% endverbatim %}
