{% verbatim %}
<script id="coda-introductory-modal" type="text/x-handlebars-template">
<div class="modal" id="coda_intro_modal">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
    <span class="modal-title">Welcome to Course Dashboard</span>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
      </div>
    <div class="modal-body">
      <div class="container col-md-12">
    <h3>Student Engagement</h3>
    <p>
Knowing what your students are majoring in and the courses they are taking concurrently helps you make connections between student interests and your course’s subject matter. 
    </p>
    <h3>First Time Teaching a Course</h3>
    <p>
View the median final grade of past offerings and the percent of students who have failed to get an idea of how the course is typically graded.
    </p>
    <h3>Student Success</h3>
    <p>
Compare the average cumulative GPA of your current students with those of past offerings to determine how much time you should spend on the most challenging topics.
    </p>
      </div>
      <span style="display: block; line-height: 0;">&nbsp;</span>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
    </div>
    </div>
  </div>
</div>
</script>
{% endverbatim %}
