{% load templatetag_handlebars %}
{% tplhandlebars "page-top" %}
{% load staticfiles %}

        <header class="topbanner-bg" role="banner">
            <div class="container">
            <a href="#maincontent" id="shortcut" class="visually-hidden">skip to main content</a>
            <a href="http://www.uw.edu" class="uw-logo" style="background: transparent url('{% static "coursedashboards/img/uw-sprite-mini.png" %}') no-repeat;">University of Washington</a>
            <div class="userinfo">
                <span class="visually-hidden logout">Logged in as: </span><span><i class="ion-ios-person" aria-hidden="true"></i> {{netid}}</span> <a href="#">logout</a>
            </div>
            <div class="row">
                <h1 class="sitename"><span class="hide-sm">Course</span> Dashboard 
                </h1>
            </div> 
            <div class="clear"></div>
            </div>      
        </header>

        
{% endtplhandlebars %}