{% extends "coursedashboards/base.html" %}
{% load staticfiles %}

{% block title %}Page not found{% endblock %}

{% block web_content %}

<div id="page_403" class="content">
    <div class="card error" style="margin:0;">
        <h2 class="visually-hidden">403 error</h2>
        <p class="error-msg">You don't have permission to access this page.</p>

        <div class="error-body">
            <p>You may want to:</p>
            <ul>
                <li>Check to make sure that you are logged into the right account.</li>
                <li>Email us at <a href="mailto:help@uw.edu>">help@uw.edu</a> if you feel like you should have permission to view this page.</li>
            </ul>
        </div>

    </div>
</div>

{% endblock %}