{% extends "base.html" %}
{% load static %}
{% block web_content %}

<!-- MAIN CONTENT BELOW THE BANNER -->
  	<main class="container" role="main">
		<div class="main-content" id="maincontent">
    		<h2>You do not have access.</h2>
                <p>Unfortunately, you don't appear to be authorized to view this page.</p>
                <p>If you believe that you should have permission to view this page, you may want to:</p>
                <ul>
                    <li>Check to make sure that you are authenticated with the correct NetID.</li>
                    <li><a href="mailto:help@uw.edu?subject=Course Dashboard Authentication Request">Contact us</a> to request access. </li>
                </ul>
		</div>	<!-- end of main -->

	</main>  <!-- end of main container -->
{% endblock %}
