{% extends "base.html" %}
{% load staticfiles %}
{% block web_content %}

<!-- MAIN CONTENT BELOW THE BANNER -->
  	<main class="container" role="main">
		<div class="main-content" id="maincontent">                 
    		<h2>The page does not exist</h2> 
                <p>Unfortunately, we can't find the page you're looking for.</p>
                <p>You may want to:</p> 
                <ul>
                    <li>Check the URL to see if something was mistyped.</li>
                    <li>Go to the <a href="/">homepage</a> and attempt to find the place you are looking for. </li>
                </ul>  		 
		</div>	<!-- end of main -->

	</main>  <!-- end of main container -->
{% endblock %}
