{% extends "base.html" %}
{% load staticfiles %}
{% block web_content %}

<!-- MAIN CONTENT BELOW THE BANNER -->
  	<main class="container" role="main">
		<div class="main-content" id="maincontent">                 
    		<h2>Problem retrieving data</h2> 
                <p>Unfortunately, we are not able to retrieve data at this time. Please give us a few minutes and <a href="/">try again</a>.</p>
                <p>If you continue to experience issues, please <a href="mailto:help@uw.edu?subject=Course Dashboard Data Issues">contact us</a>.</p>  		 
		</div>	<!-- end of main -->

	</main>  <!-- end of main container -->
{% endblock %}