{% extends "content_base.html" %}

{% block header %}
<div id="top_banner" class='no-padding'> <!-- username and logout goes here, handlebars/page-top.html -->
</div>
{% include "drs_banner.html" %}
{% endblock %}

{% block footer %}
<footer id="app_footer" role="contentinfo">
	<div class="footer-bar">
        <div class="container footer-links">
            <ul class="footer-links-list">
                <li class="footer-links-list-item"><a href="//myuw.washington.edu/cgi-bin/contactmyuw.cgi" title="Contact help@uwe.edu"><i class="ion-android-mail" role="presentation"></i> Contact</a></li>
                <li class="footer-links-list-item"><a href="//www.washington.edu/online/terms/" title="University of Washington Website Terms and Conditions of Use">Terms</a></li>
                <li class="footer-links-list-item"><a href="//www.washington.edu/online/privacy/" title="University of Washington Online Privacy Statement">Privacy</a></li>
           </ul>
            <div style="clear:both;">&copy; {% now "Y" %} University of Washington</div>
        </div>

	</div><!-- end of footer content -->
</footer>
{% endblock %}
