<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
      {% include "include/head.html" %}
    </head>

<body {% if request.is_mobile or request.is_tablet %}data-mobile="true"{% endif %}>
    {% csrf_token %}
    {% block header %}{% endblock %}
    <div class="page-wrap"> <!-- another wrap to make a sticky footer -->
    {% block web_content %}{% endblock %}

    </div> <!-- end of .page-wrap  -->
    <div>
      {% block footer %}{% endblock %}
    </div><!-- footer role -->

{% include "include/elements.html" %}

</body>
</html>
