
  <div class="drs_banner no_padding border-0 p-0">
        <div class="alert alert-info" role="alert">
          <div class="coda-wrapper">
            <h3 class="alert-heading">Set your students up for success</h3>
            <div class="drs_accessible_notice"><p>It is every instructor&apos;s legal and <a href="http://www.washington.edu/admin/rules/policies/SGP/SPCH208.html" target="_blank">university</a> obligation to ensure that class resources are accessible for all students. Get started now with the <a href="https://depts.washington.edu/uwdrs/faculty/course-preparation-checklist/" target="_blank">course preparation checklist.</a></p>
            </div>
            <div class="drs_missing_notice drs_missing_textbooks p-0"></div>
          </div>
        </div>
  </div>
  <!--<div class="coda-wrapper">
    <h3>Set your students up for success</h3>
    <div class="drs_accessible_notice">It is every instructor&apos;s legal and <a href="http://www.washington.edu/admin/rules/policies/SGP/SPCH208.html" target="_blank">university</a> obligation to ensure that class resources are accessible for all students. Get started now with the <a href="https://depts.washington.edu/uwdrs/faculty/course-preparation-checklist/" target="_blank">course preparation checklist.</a>
    </div>
    <div class="drs_missing_notice drs_missing_textbooks"></div>
  </div>-->
