<div class='drs_banner no-padding'>
  <h3>Set your students up for success</h3>
  <div class="drs_accessible_notice">It is every instructor's legal and <a href="http://www.washington.edu/admin/rules/policies/SGP/SPCH208.html" target="_blank">university</a> obligation to ensure that class resources are accessible for all students. Get started now with the <a href="https://depts.washington.edu/uwdrs/faculty/course-preparation-checklist/" target="_blank">course preparation checklist.</a>
  </div>
  <div class="drs_banner_missing">
    <h4><span class="drs_missing_notice"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Critical:</span> Course Info missing in Time Schedule <span class="drs_missing_exposure"><i class="fa fa-angle-down drs_missing_visible"></i></span></h4>
    <div class="drs_banner_missing_content">
      <ul>
        <li class="drs_missing_textbooks">Course textbook information</li>
        <li class="drs_missing_contact visually-hidden">Instructor contact information</li>
      </ul>
      <div class="drs_missing_textbooks">
        You can <a href="http://www2.bookstore.washington.edu/textsys/TextReqLogin.taf?school=uwmain" target="_blank">request your course textbooks from the UW Bookstore</a> to have them display in the Time Schedule. For other changes to the Time Schedule for your course, please contact your department’s Time Schedule Coordinator or Clerkship Administrator.
      </div>
    </div>
    <span>
  </div>
</div>
