{% extends "base.html" %}
{% load staticfiles %}
{% block web_content %}

<script>
    window.user = {
        "netid": "{{ user.netid }}"
    };
    window.term = {
        "year": "{{year}}",
        "quarter": "{{quarter}}"
    };
    window.section_data = {{sections | safe | escape}};

</script>

<!-- MAIN CONTENT BELOW THE BANNER -->
  	<main class="container" role="main">
		<div class="main-content" id="maincontent"> 
    		 <div id="current-course-target"><!-- handlebars target for current-course-data.html -->
                
            </div>   
        	<div class="course_info data-section" id="historic-course-target">
        	    
        	</div>
           
		</div>	<!-- end of main -->

	</main>  <!-- end of main container -->
{% endblock %}
