{% extends "base.html" %}
{% load staticfiles %}
{% block web_content %}

<script>
    window.user = {
        "netid": "{{ user.netid }}"
    };
    window.term = {
        "year": "{{year}}",
        "quarter": "{{quarter}}"
    };
    window.section_data = {{sections | safe | escape}};

</script>

<!-- MAIN CONTENT BELOW THE BANNER -->
  	<main class="container" role="main">
    		<div class="main-content row" id="maincontent"> 
                <div class="course-info col-12">
                    <div class="course-quarter-year"><h2>{{quarter}} {{year}} 
                        <div class="d-inline-block course-select dummy">
                            <label for="my_courses" class="visually-hidden">My Course Dashboards:</label>
                            <select class="form-control" name="my_courses" id="my_courses">
                            <optgroup label="{{quarter}} {{year}}">
                               
                                   <option data-label="section_label">PHYS 122 A</option>
                               
                           </optgroup>
    	                    </select>
                        </div></h2>
                    </div>
                    <div class="course-title dummy"><span style="font-size: 1.6em;">Electromagnetism and Oscillatory Motion</div>
                </div>
                <div class="course-data row">
                    <div class="section-container current-section col-md-6" id="current-course-target"><!-- handlebars target for current-course-data.html --></div>
                    <div class="section-container historic-section col-md-6">
                        <div id="historic-selector-target"><!-- handlebars target for historic data selectors--></div>
                        <div class="course_info data-section" id="historic-course-target"></div>
                    </div>
                </div>
    		</div>	<!-- end of main -->
	</main>  <!-- end of main container -->
{% endblock %}
